
.selector-sector .seletor-sku .select label.skuespec_Corunica{
   
    color: #931A29 !important;
    background-color: #fff;
    border-color: #931A29  !important;
}

.selector-sector .seletor-sku .select label.skuespec_01-branco {
  
    color: #333!important;
    background-color: #fff;
    border-color: #333!important;
}


.selector-sector .seletor-sku .select label.skuespec_02-preto {
  
    color: #fff!important;
    background-color: #000;
    border-color: #000!important;
}

.selector-sector .seletor-sku .select label.skuespec_03-vermelho {
  
    color: white!important;
    background-color: red;
    border-color: red!important;
}

.selector-sector .seletor-sku .select label.skuespec_04-azulroyal {
   
    color: #fff!important;
    background-color: #4169e1;
    border-color: #4169e1!important;
}

.selector-sector .seletor-sku .select label.skuespec_06-laranja {
   
    color: #fff!important;
    background-color: orange;
    border-color: orange!important;
}

.selector-sector .seletor-sku .select label.skuespec_07-azulmarinho {
   
    color: #fff!important;
    background-color: #120a8f ;
    border-color: #120a8f !important;
}

.selector-sector .seletor-sku .select label.skuespec_08-amareloouro {
   
    color: #fff!important;
    background-color: #ffd700  ;
    border-color: #ffd700  !important;
}

.selector-sector .seletor-sku .select label.skuespec_08-amareloouro {
   
    color: #fff!important;
    background-color: #ffd700  ;
    border-color: #ffd700  !important;
}

.selector-sector .seletor-sku .select label.skuespec_09-azulturquesa{
   
    color: #fff!important;
    background-color: #40e0d0   ;
    border-color: #40e0d0   !important;
}

.selector-sector .seletor-sku .select label.skuespec_10-salmao{
   
    color: #fff!important;
    background-color: #fa7f72    ;
    border-color: #fa7f72    !important;
}

.selector-sector .seletor-sku .select label.skuespec_103-ourovelho{
   
    color: #fff!important;
    background-color: #ccac00     ;
    border-color: #ccac00     !important;
}

.selector-sector .seletor-sku .select label.skuespec_104-cinzaclaro{
   
    color: #fff!important;
    background-color: #d3d3d3;
    border-color: #d3d3d3!important;
}

.selector-sector .seletor-sku .select label.skuespec_105-ferrugem{
   
    color: #fff!important;
    background-color: #b7410e;
    border-color: #b7410e!important;
}

.selector-sector .seletor-sku .select label.skuespec_106-champanhe{
   
    color: #fff!important;
    background-color: #f7e7ce ;
    border-color: #f7e7ce !important;
}

.selector-sector .seletor-sku .select label.skuespec_107-verdeangra{
   
    color: #fff!important;
    background-color: #00cc00;
    border-color: #00cc00!important;
}

.selector-sector .seletor-sku .select label.skuespec_11-verdeagua{
   
    color: #fff!important;
    background-color: #03bb85;
    border-color: #03bb85!important;
}

.selector-sector .seletor-sku .select label.skuespec_12-bege{
   
    color: #fff!important;
    background-color: #f5f5dc;
    border-color: #f5f5dc!important;
}

.selector-sector .seletor-sku .select label.skuespec_13-rosabb{
   
    color: #fff!important;
    background-color: #ffcbdb;
    border-color: #ffcbdb!important;
}

.selector-sector .seletor-sku .select label.skuespec_14-marrom{
   
    color: #fff!important;
    background-color: #964b00;
    border-color: #964b00!important;
}

.selector-sector .seletor-sku .select label.skuespec_15-vinho{
   
    color: #fff!important;
    background-color: #800000 ;
    border-color: #800000 !important;
}


.selector-sector .seletor-sku .select label.skuespec_16-lilas{
   
    color: #fff!important;
    background-color: #c8a2c8;
    border-color: #c8a2c8 !important;
}

.selector-sector .seletor-sku .select label.skuespec_17-verdeesmeralda{
   
    color: #fff!important;
    background-color: #50c878 ;
    border-color: #50c878  !important;
}


.selector-sector .seletor-sku .select label.skuespec_18-azulceleste{
   
    color: #fff!important;
    background-color: #9ec9e3  ;
    border-color: #9ec9e3   !important;
}


.selector-sector .seletor-sku .select label.skuespec_19-amarelobb{
   
    color: #fff!important;
    background-color: #ffdb58;
    border-color: #ffdb58!important;
}

.selector-sector .seletor-sku .select label.skuespec_20-pink{
   
    color: #fff!important;
    background-color: #cd7aa3 ;
    border-color: #cd7aa3 !important;
}

.selector-sector .seletor-sku .select label.skuespec_21-roxo{
   
    color: #fff!important;
    background-color: #795A83 ;
    border-color: #795A83 !important;
}

.selector-sector .seletor-sku .select label.skuespec_26-cru{
   
    color: #fff!important;
    background-color: #DFDCC6 ;
    border-color: #DFDCC6 !important;
}

.selector-sector .seletor-sku .select label.skuespec_28-cafe{
   
    color: #fff!important;
    background-color: #3C282A ;
    border-color: #3C282A !important;
}


.selector-sector .seletor-sku .select label.skuespec_32-verdemilitar{
   
    color: #fff!important;
    background-color: #7C7955 ;
    border-color: #7C7955 !important;
}

.selector-sector .seletor-sku .select label.skuespec_33-rosaescuro{
   
    color: #fff!important;
    background-color: #EE7C90 ;
    border-color: #EE7C90 !important;
}

.selector-sector .seletor-sku .select label.skuespec_76-verdepistache{
   
    color: #fff!important;
    background-color: #A0B626;
    border-color: #A0B626 !important;
}











 



 