
.selector-sector .seletor-sku .select label.skuespec_Corunica, .selector-sector .seletor-sku .select label{
   
    color: #931A29 !important;
    background-color: #fff;
    border-color: #931A29  !important;
}

.selector-sector .seletor-sku .select label.skuespec_01-branco, 
.selector-sector .seletor-sku .select label.skuespec_0001-branco,
.selector-sector .seletor-sku .select label.skuespec_00bc-branco-0007 {
  
    color: #333!important;
    background-color: #fff;
    border-color: #333!important;
}


.selector-sector .seletor-sku .select label.skuespec_02-preto, .selector-sector .seletor-sku .select label.skuespec_39-preto,
 .selector-sector .seletor-sku .select label.skuespec_31-preto, .selector-sector .seletor-sku .select label.skuespec_520-preto,
 .selector-sector .seletor-sku .select label.skuespec_304-preto,.selector-sector .seletor-sku .select label.skuespec_8990-preto{
  
    color: #fff!important;
    background-color: #000;
    border-color: #000!important;
}

.selector-sector .seletor-sku .select label.skuespec_03-vermelho, 
.selector-sector .seletor-sku .select label.skuespec_09-vermelho,
.selector-sector .seletor-sku .select label.skuespec_309-vermelhoescuro, 
.selector-sector .seletor-sku .select label.skuespec_205-vermelho,
.selector-sector .seletor-sku .select label.skuespec_Cor_opcao_2900-P{
  
    color: white!important;
    background-color: red;
    border-color: red!important;
}

.selector-sector .seletor-sku .select label.skuespec_04-azulroyal {
   
    color: #fff!important;
    background-color: #4169e1;
    border-color: #4169e1!important;
}



.selector-sector .seletor-sku .select label.skuespec_202-azulclaro,.selector-sector .seletor-sku .select label.skuespec_221-ceuestrelado {
   
    color: #fff!important;
    background-color: #D8E7F5;
    border-color: #D8E7F5!important;
}


.selector-sector .seletor-sku .select label.skuespec_205-rosaclaro, 
.selector-sector .seletor-sku .select label.skuespec_222-pinkclaro,
.selector-sector .seletor-sku .select label.skuespec_214-rose, 
.selector-sector .seletor-sku .select label.skuespec_910-rosaprimavera,
.selector-sector .seletor-sku .select label.skuespec_5211-2861  {
   
    color: #fff!important;
    background-color: #E9C6CD;
    border-color: #E9C6CD!important;
}

.selector-sector .seletor-sku .select label.skuespec_207-verdeclaro {
   
    color: #fff!important;
    background-color: #E1E8DB;
    border-color: #E1E8DB!important;
}



.selector-sector .seletor-sku .select label.skuespec_08-maravilha {
   
    color: #fff!important;
    background-color: #A6004C;
    border-color: #A6004C!important;
}

.selector-sector .seletor-sku .select label.skuespec_06-laranja, 
.selector-sector .seletor-sku .select label.skuespec_05-laranja,  
.selector-sector .seletor-sku .select label.skuespec_225-laranjaclaro,
.selector-sector .seletor-sku .select label.skuespec_0085-laranja{
   
    color: #fff!important;
    background-color: orange;
    border-color: orange!important;
}

.selector-sector .seletor-sku .select label.skuespec_07-azulmarinho, .selector-sector .seletor-sku .select label.skuespec_15-natier, .selector-sector .seletor-sku .select label.skuespec_16-azulmarinho  {
   
    color: #fff!important;
    background-color: #120a8f ;
    border-color: #120a8f !important;
}

.selector-sector .seletor-sku .select label.skuespec_08-amareloouro, .selector-sector .seletor-sku .select label.skuespec_301-amareloouro,
.selector-sector .seletor-sku .select label.skuespec_201-ouro  {
   
    color: #fff!important;
    background-color: #ffd700  ;
    border-color: #ffd700  !important;
}

.selector-sector .seletor-sku .select label.skuespec_08-amareloouro {
   
    color: #fff!important;
    background-color: #ffd700  ;
    border-color: #ffd700  !important;
}


.selector-sector .seletor-sku .select label.skuespec_521-azul, .selector-sector .seletor-sku .select label.skuespec_204-azul {
   
    color: #fff!important;
    background-color: blue  ;
    border-color: blue  !important;
}

.selector-sector .seletor-sku .select label.skuespec_09-azulturquesa, .selector-sector .seletor-sku .select label.skuespec_13-azulturquesa,
.selector-sector .seletor-sku .select label.skuespec_226-turquesaclaro, .selector-sector .seletor-sku .select label.skuespec_211-azulturquesa{
   
    color: #fff!important;
    background-color: #40e0d0   ;
    border-color: #40e0d0   !important;
}

.selector-sector .seletor-sku .select label.skuespec_10-salmao, .selector-sector .seletor-sku .select label.skuespec_210-salmaoclaro{
   
    color: #fff!important;
    background-color: #fa7f72    ;
    border-color: #fa7f72    !important;
}

.selector-sector .seletor-sku .select label.skuespec_103-ourovelho{
   
    color: #fff!important;
    background-color: #ccac00     ;
    border-color: #ccac00     !important;
}

.selector-sector .seletor-sku .select label.skuespec_203-cobre{
   
    color: #fff!important;
    background-color: #b87333;
    border-color: #b87333!important;
}

.selector-sector .seletor-sku .select label.skuespec_104-cinzaclaro, .selector-sector .seletor-sku .select label.skuespec_209-cristal,
.selector-sector .seletor-sku .select label.skuespec_845-neve{
   
    color: #fff!important;
    background-color: #d3d3d3;
    border-color: #d3d3d3!important;
}

.selector-sector .seletor-sku .select label.skuespec_30-cinza, .selector-sector .seletor-sku .select label.skuespec_202-prata{
   
    color: #fff!important;
    background-color: gray;
    border-color: gray!important;
}

.selector-sector .seletor-sku .select label.skuespec_105-ferrugem, .selector-sector .seletor-sku .select label.skuespec_216-ferrugem{
   
    color: #fff!important;
    background-color: #b7410e;
    border-color: #b7410e!important;
}

.selector-sector .seletor-sku .select label.skuespec_106-champanhe,
.selector-sector .seletor-sku .select label.skuespec_215-champanhe,
.selector-sector .seletor-sku .select label.skuespec_Cor_opcao_3137-P
{
   
    color: #fff!important;
    background-color: #f7e7ce ;
    border-color: #f7e7ce !important;
}

.selector-sector .seletor-sku .select label.skuespec_107-verdeangra{
   
    color: #fff!important;
    background-color: #00cc00;
    border-color: #00cc00!important;
}

.selector-sector .seletor-sku .select label.skuespec_20-verde, .selector-sector .seletor-sku .select label.skuespec_524-verde,
.selector-sector .seletor-sku .select label.skuespec_206-verde{
   
    color: #fff!important;
    background-color: green;
    border-color: green!important;
}

.selector-sector .seletor-sku .select label.skuespec_25-violeta, .selector-sector .seletor-sku .select label.skuespec_207-violeta{
   
    color: #fff!important;
    background-color: #290A68;
    border-color: #290A68!important;
}

.selector-sector .seletor-sku .select label.skuespec_11-verdeagua{
   
    color: #fff!important;
    background-color: #03bb85;
    border-color: #03bb85!important;
}

.selector-sector .seletor-sku .select label.skuespec_12-bege,
 .selector-sector .seletor-sku .select label.skuespec_26-bege, 
 .selector-sector .seletor-sku .select label.skuespec_218-perolaclaro,
 .selector-sector .seletor-sku .select label.skuespec_0083-fendi{
   
    color: #fff!important;
    background-color: #B29A7E;
    border-color: #B29A7E!important;
}

.selector-sector .seletor-sku .select label.skuespec_0084-rosablush{
   
    color: #fff!important;
    background-color: #FE8181;
    border-color: #FE8181!important;
}

.selector-sector .seletor-sku .select label.skuespec_13-rosabb{
   
    color: #fff!important;
    background-color: #ffcbdb;
    border-color: #ffcbdb!important;
}

.selector-sector .seletor-sku .select label.skuespec_14-marrom, .selector-sector .seletor-sku .select label.skuespec_27-marrom,
.selector-sector .seletor-sku .select label.skuespec_311-marrom{
   
    color: #fff!important;
    background-color: #964b00;
    border-color: #964b00!important;
}

.selector-sector .seletor-sku .select label.skuespec_15-vinho, .selector-sector .seletor-sku .select label.skuespec_61-vinho{
   
    color: #fff!important;
    background-color: #800000 ;
    border-color: #800000 !important;
}


.selector-sector .seletor-sku .select label.skuespec_16-lilas, .selector-sector .seletor-sku .select label.skuespec_68-lilas, 
.selector-sector .seletor-sku .select label.skuespec_208-lilas, .selector-sector .seletor-sku .select label.skuespec_528-lilás{
   
    color: #fff!important;
    background-color: #c8a2c8;
    border-color: #c8a2c8 !important;
}

.selector-sector .seletor-sku .select label.skuespec_17-verdeesmeralda, .selector-sector .seletor-sku .select label.skuespec_213-verdeesmeralda{
   
    color: #fff!important;
    background-color: #50c878 ;
    border-color: #50c878  !important;
}

.selector-sector .seletor-sku .select label.skuespec_46-verdemusgo{
   
    color: #fff!important;
    background-color: #505839 ;
    border-color: #505839  !important;
}


.selector-sector .seletor-sku .select label.skuespec_18-azulceleste{
   
    color: #fff!important;
    background-color: #9ec9e3  ;
    border-color: #9ec9e3   !important;
}

.selector-sector .seletor-sku .select label.skuespec_Cor_opcao_7234-P {
background-color: #91D6F6;
border-color: #91D6F6   !important;
color: #fff!important;
}


.selector-sector .seletor-sku .select label.skuespec_19-amarelobb, .selector-sector .seletor-sku .select label.skuespec_846-sol{
   
    color: #fff!important;
    background-color: #ffdb58;
    border-color: #ffdb58!important;
}

.selector-sector .seletor-sku .select label.skuespec_03-amarelo, .selector-sector .seletor-sku .select label.skuespec_212-amarelo{
   
    color: #fff!important;
    background-color: yellow;
    border-color: yellow!important;
}


.selector-sector .seletor-sku .select label.skuespec_20-pink, .selector-sector .seletor-sku .select label.skuespec_0051-rosasecreto{
   
    color: #fff!important;
    background-color: #cd7aa3 ;
    border-color: #cd7aa3 !important;
}

.selector-sector .seletor-sku .select label.skuespec_21-roxo{
   
    color: #fff!important;
    background-color: #795A83 ;
    border-color: #795A83 !important;
}

.selector-sector .seletor-sku .select label.skuespec_26-cru{
   
    color: #fff!important;
    background-color: #DFDCC6 ;
    border-color: #DFDCC6 !important;
}

.selector-sector .seletor-sku .select label.skuespec_28-cafe{
   
    color: #fff!important;
    background-color: #3C282A ;
    border-color: #3C282A !important;
}


.selector-sector .seletor-sku .select label.skuespec_32-verdemilitar{
   
    color: #fff!important;
    background-color: #7C7955 ;
    border-color: #7C7955 !important;
}

.selector-sector .seletor-sku .select label.skuespec_33-rosaescuro, .selector-sector .seletor-sku .select label.skuespec_909-tutti-frutti{
   
    color: #fff!important;
    background-color: #EE7C90 ;
    border-color: #EE7C90 !important;
}

.selector-sector .seletor-sku .select label.skuespec_76-verdepistache, .selector-sector .seletor-sku .select label.skuespec_227-verdealfaceclaro,
.selector-sector .seletor-sku .select label.skuespec_217-verdecitrico{
   
    color: #fff!important;
    background-color: #A0B626;
    border-color: #A0B626 !important;
}


.selector-sector .seletor-sku .select label.skuespec_1112-creme{
   
    color: #fff!important;
    background-color: rgb(237,233,200) ;
    border-color: rgb(237,233,200) !important;
}

.selector-sector .seletor-sku .select label.skuespec_1289-canario{
   
    color: #fff!important;
    background-color: #F0C202 ;
    border-color:#F0C202 !important;
}

.selector-sector .seletor-sku .select label.skuespec_1317-solar{
   
    color: #fff!important;
    background-color: #F0D273 ;
    border-color:#F0D273 !important;
}

.selector-sector .seletor-sku .select label.skuespec_2137-hortencia{
   
    color: #fff!important;
    background-color: #80A5C8 ;
    border-color:#80A5C8 !important;
}

.selector-sector .seletor-sku .select label.skuespec_2194-turquesa{
   
    color: #fff!important;
    background-color: #04A3D4 ;
    border-color:#04A3D4 !important;
}

.selector-sector .seletor-sku .select label.skuespec_2829-azulbic{
   
    color: #fff!important;
    background-color: #225EA6 ;
    border-color:#225EA6 !important;
}

.selector-sector .seletor-sku .select label.skuespec_2856-anilprofundo{
   
    color: #fff!important;
    background-color: #21264D ;
    border-color:#21264D !important;
}

.selector-sector .seletor-sku .select label.skuespec_2927-aquario{
   
    color: #fff!important;
    background-color: #899EA9 ;
    border-color:#899EA9 !important;
}

.selector-sector .seletor-sku .select label.skuespec_2930-netuno{
   
    color: #fff!important;
    background-color: #3C7E8C ;
    border-color:#3C7E8C !important;
}

.selector-sector .seletor-sku .select label.skuespec_2931-nautico{
   
    color: #fff!important;
    background-color: #465B78 ;
    border-color:#465B78 !important;
}

.selector-sector .seletor-sku .select label.skuespec_3046-docura{
   
    color: #fff!important;
    background-color: #EED6D5 ;
    border-color:#EED6D5 !important;
}

.selector-sector .seletor-sku .select label.skuespec_3077-quartzo{
   
    color: #fff!important;
    background-color: #E2BFC6 ;
    border-color:#E2BFC6 !important;
}


.selector-sector .seletor-sku .select label.skuespec_3131-chiclete{
   
    color: #fff!important;
    background-color: #E7ACBC ;
    border-color:#E7ACBC !important;
}

.selector-sector .seletor-sku .select label.skuespec_3148-macadamia{
   
    color: #000!important;
    background-color: #DFCDC3 ;
    border-color:#DFCDC3 !important;
}


.selector-sector .seletor-sku .select label.skuespec_3154-vinho{
   
    color: #fff!important;
    background-color: #803653 ;
    border-color:#803653 !important;
}

.selector-sector .seletor-sku .select label.skuespec_3157-roseira{
   
    color: #fff!important;
    background-color: #AC6A6F ;
    border-color:#AC6A6F !important;
}

.selector-sector .seletor-sku .select label.skuespec_3182-pitaya{
   
    color: #fff!important;
    background-color: #A7546E ;
    border-color:#A7546E !important;
}
.selector-sector .seletor-sku .select label.skuespec_3201-camafeu{
   
    color: #fff!important;
    background-color: #BE9B90 ;
    border-color:#BE9B90 !important;
}

.selector-sector .seletor-sku .select label.skuespec_3334-tulipa{
   
    color: #fff!important;
    background-color: #D2536A ;
    border-color:#D2536A !important;
}

.selector-sector .seletor-sku .select label.skuespec_3528-carmim{
   
    color: #fff!important;
    background-color: #8D0D21 ;
    border-color:#8D0D21 !important;
}

.selector-sector .seletor-sku .select label.skuespec_3583-cereja{
   
    color: #fff!important;
    background-color: #E25247 ;
    border-color:#E25247 !important;
}

.selector-sector .seletor-sku .select label.skuespec_3611-rubi{
   
    color: #fff!important;
    background-color: #5E0119 ;
    border-color:#5E0119 !important;
}

.selector-sector .seletor-sku .select label.skuespec_4004-coralvivo{
   
    color: #fff!important;
    background-color: #EC7E79 ;
    border-color:#EC7E79 !important;
}

.selector-sector .seletor-sku .select label.skuespec_4092-organza{
   
    color: #fff!important;
    background-color: #E0BAA7 ;
    border-color:#E0BAA7 !important;
}

.selector-sector .seletor-sku .select label.skuespec_4093-tafeta{
   
    color: #fff!important;
    background-color: #CF7562;
    border-color:#CF7562 !important;
}



.selector-sector .seletor-sku .select label.skuespec_4094-cetim{
   
    color: #fff!important;
    background-color: #D09A81;
    border-color:#D09A81 !important;
}

.selector-sector .seletor-sku .select label.skuespec_4094-cetim{
   
    color: #fff!important;
    background-color: #D09A81;
    border-color:#D09A81 !important;
}

.selector-sector .seletor-sku .select label.skuespec_4095-rum{
   
    color: #fff!important;
    background-color: #994836;
    border-color:#994836 !important;
}

.selector-sector .seletor-sku .select label.skuespec_4131-darkcheddar{
   
    color: #fff!important;
    background-color: #FDA107;
    border-color:#FDA107 !important;
}

.selector-sector .seletor-sku .select label.skuespec_4146-gema{
   
    color: #fff!important;
    background-color: #F6AD1A;
    border-color:#F6AD1A !important;
}

.selector-sector .seletor-sku .select label.skuespec_4448-tijolo{
   
    color: #fff!important;
    background-color: #D45E38;
    border-color:#D45E38 !important;
}

.selector-sector .seletor-sku .select label.skuespec_4456-laranja{
   
    color: #fff!important;
    background-color: #EF781C;
    border-color:#EF781C !important;
}

.selector-sector .seletor-sku .select label.skuespec_5203-greenery{
   
    color: #fff!important;
    background-color: #B1E177;
    border-color:#B1E177 !important;
}


.selector-sector .seletor-sku .select label.skuespec_5398-musgo{
   
    color: #fff!important;
    background-color: #406343;
    border-color:#406343 !important;
}

.selector-sector .seletor-sku .select label.skuespec_5669-tiffany{
   
    color: #fff!important;
    background-color: #12A27F;
    border-color:#12A27F !important;
}

.selector-sector .seletor-sku .select label.skuespec_5741-periquito{
   
    color: #fff!important;
    background-color: #B9CC96;
    border-color:#B9CC96 !important;
}

.selector-sector .seletor-sku .select label.skuespec_5743-nascente{
   
    color: #fff!important;
    background-color: #A5CCB4;
    border-color:#A5CCB4 !important;
}

.selector-sector .seletor-sku .select label.skuespec_5745-eucalipto{
   
    color: #fff!important;
    background-color: #9CA695;
    border-color:#9CA695 !important;
}

.selector-sector .seletor-sku .select label.skuespec_5745-eucalipto{
   
    color: #fff!important;
    background-color: #9CA695;
    border-color:#9CA695 !important;
}

.selector-sector .seletor-sku .select label.skuespec_5767-bandeira{
   
    color: #fff!important;
    background-color: #008447;
    border-color:#008447 !important;
}

.selector-sector .seletor-sku .select label.skuespec_5800-oliva{
   
    color: #fff!important;
    background-color: #939B40;
    border-color:#939B40 !important;
}

.selector-sector .seletor-sku .select label.skuespec_6161-violeta{
   
    color: #fff!important;
    background-color: #BD99AC;
    border-color:#BD99AC !important;
}

.selector-sector .seletor-sku .select label.skuespec_6201-tecno{
   
    color: #fff!important;
    background-color: #785FA4;
    border-color:#785FA4 !important;
}

.selector-sector .seletor-sku .select label.skuespec_6614-alfazema{
   
    color: #fff!important;
    background-color: #98568E;
    border-color:#98568E !important;
}

.selector-sector .seletor-sku .select label.skuespec_6802-malva{
   
    color: #fff!important;
    background-color: #B7A3AC;
    border-color:#B7A3AC !important;
}

.selector-sector .seletor-sku .select label.skuespec_7030-mostarda{
   
    color: #fff!important;
    background-color: #FCD573;
    border-color:#FCD573 !important;
}

.selector-sector .seletor-sku .select label.skuespec_7136-marsala{
   
    color: #fff!important;
    background-color: #7E323A;
    border-color:#7E323A !important;
}

.selector-sector .seletor-sku .select label.skuespec_7563-chantily{
   
    color: #fff!important;
    background-color: #CDBDAC;
    border-color:#CDBDAC !important;
}

.selector-sector .seletor-sku .select label.skuespec_7564-porcelana{
   
    color: #fff!important;
    background-color: #D3C3AB;
    border-color:#D3C3AB !important;
}

.selector-sector .seletor-sku .select label.skuespec_7567-cacau{
   
    color: #fff!important;
    background-color: #D3C3AB;
    border-color:#D3C3AB !important;
}

.selector-sector .seletor-sku .select label.skuespec_7569-tabaco{
   
    color: #fff!important;
    background-color: #301815;
    border-color:#301815 !important;
}

.selector-sector .seletor-sku .select label.skuespec_7525-castanha{
   
    color: #fff!important;
    background-color: #B79D7D;
    border-color:#B79D7D !important;
}

.selector-sector .seletor-sku .select label.skuespec_7650-amendoa{
   
    color: #fff!important;
    background-color: #C8B8A2;
    border-color:#C8B8A2 !important;
}

.selector-sector .seletor-sku .select label.skuespec_8001-branca{
   
    color: #333!important;
    background-color: #fff;
    border-color: #333!important;
}

.selector-sector .seletor-sku .select label.skuespec_8008-pedreira{
   
    color: #333!important;
    background-color: #CFCCC6;
    border-color:#CFCCC6 !important;
}


.selector-sector .seletor-sku .select label.skuespec_8013-glacial{
   
    color: #fff!important;
    background-color: #B6BEBB;
    border-color:#B6BEBB !important;
}

.selector-sector .seletor-sku .select label.skuespec_8176-offwhite{
   
    color: #333!important;
    background-color: #DDD7D1;
    border-color:#DDD7D1 !important;
}

.selector-sector .seletor-sku .select label.skuespec_8797-aco{
   
    color: #fff!important;
    background-color: #9F9994;
    border-color:#9F9994 !important;
}

.selector-sector .seletor-sku .select label.skuespec_9278-lhama{
   
    color: #fff!important;
    background-color: #01CED3;
    border-color:#01CED3 !important;
}


.selector-sector .seletor-sku .select label.skuespec_9534-unicornio{
   
    color: #fff!important;
    background-color: #F2B5E1;
    border-color:#F2B5E1 !important;
}



.selector-sector .seletor-sku .select label.skuespec_05-marfim{
   
    color: #333!important;
    background-color: #E2DDD4;
    border-color:#E2DDD4 !important;
}

.selector-sector .seletor-sku .select label.skuespec_24-verdemusgo{
   
    color: #fff!important;
    background-color: #415E45;
    border-color:#415E45 !important;
}

.selector-sector .seletor-sku .select label.skuespec_110-verdebandeira{
   
    color: #fff!important;
    background-color: #486E3D;
    border-color:#486E3D !important;
}

.selector-sector .seletor-sku .select label.skuespec_30-verdelimao{
   
    color: #fff!important;
    background-color: #84BE3E;
    border-color:#84BE3E !important;
}

.selector-sector .seletor-sku .select label.skuespec_25-azulbb{
   
    color: #fff!important;
    background-color: #A8D5EC;
    border-color:#A8D5EC !important;
}

.selector-sector .seletor-sku .select label.skuespec_34-cinza{
   
    color: #fff!important;
    background-color: #B4B4B4;
    border-color:#B4B4B4 !important;
}

.selector-sector .seletor-sku .select label.skuespec_01-branco{
   
    color: #fff!important;
    background-color: #E1E2DD;
    border-color:#E1E2DD !important;
}

.selector-sector .seletor-sku .select label.skuespec_07-vermelho{
   
    color: #fff!important;
    background-color: #C13A2A;
    border-color:#C13A2A !important;
}

.selector-sector .seletor-sku .select label.skuespec_12-azul{
   
    color: #fff!important;
    background-color: #168FC6;
    border-color:#168FC6 !important;
}

.selector-sector .seletor-sku .select label.skuespec_19-preto{
   
    color: #333!important;
    background-color: #373737;
    border-color:#373737 !important;
}

.selector-sector .seletor-sku .select label.skuespec_23-bandeira{
   
    color: #fff!important;
    background-color: #17A963;
    border-color:#17A963 !important;
}

.selector-sector .seletor-sku .select label.skuespec_29-bordo{
   
    color: #fff!important;
    background-color: #771F28;
    border-color:#771F28 !important;
}

.selector-sector .seletor-sku .select label.skuespec_36-petala{
   
    color: #fff!important;
    background-color: #E9A397;
    border-color:#E9A397 !important;
}

.selector-sector .seletor-sku .select label.skuespec_47-dourado{
   
    color: #fff!important;
    background-color: #D1B262;
    border-color:#D1B262 !important;
}

.selector-sector .seletor-sku .select label.skuespec_55-azulprofundo{
   
    color: #fff!important;
    background-color: #474E6B;
    border-color:#474E6B !important;
}

.selector-sector .seletor-sku .select label.skuespec_03-rosabebe{
   
    color: #fff!important;
    background-color: #F3B8B7;
    border-color:#F3B8B7 !important;
}

.selector-sector .seletor-sku .select label.skuespec_10-ceramia{
   
    color: #fff!important;
    background-color: #E79B25;
    border-color:#E79B25 !important;
}

.selector-sector .seletor-sku .select label.skuespec_13-royal{
   
    color: #fff!important;
    background-color: #1D2774;
    border-color:#1D2774 !important;
}

.selector-sector .seletor-sku .select label.skuespec_21-turquesa{
   
    color: #fff!important;
    background-color: #04B7EA;
    border-color:#04B7EA !important;
}

.selector-sector .seletor-sku .select label.skuespec_24-prata{
   
    color: #fff!important;
    background-color: #A6A2A1;
    border-color:#A6A2A1 !important;
}

.selector-sector .seletor-sku .select label.skuespec_30-bispo{
   
    color: #fff!important;
    background-color: #B21566;
    border-color:#B21566 !important;
}

.selector-sector .seletor-sku .select label.skuespec_42-alfazema{
   
    color: #fff!important;
    background-color: #C789B3;
    border-color:#C789B3 !important;
}

.selector-sector .seletor-sku .select label.skuespec_50-perola{
   
    color: #fff!important;
    background-color: #E5DBB6;
    border-color:#E5DBB6 !important;
}

.selector-sector .seletor-sku .select label.skuespec_66-pink{
   
    color: #fff!important;
    background-color: #DB6F93;
    border-color:#DB6F93 !important;
}

.selector-sector .seletor-sku .select label.skuespec_03-prata{
   
    color: #fff!important;
    background-color: #717B76;
    border-color:#717B76 !important;
}

.selector-sector .seletor-sku .select label.skuespec_07-salmao{
   
    color: #fff!important;
    background-color: #E9AB84;
    border-color:#E9AB84 !important;
}
.selector-sector .seletor-sku .select label.skuespec_123-creme{
   
    color: #fff!important;
    background-color: #BCA077;
    border-color:#BCA077 !important;
}

.selector-sector .seletor-sku .select label.skuespec_14-rosa{
   
    color: #fff!important;
    background-color: #FF5A9F;
    border-color:#FF5A9F !important;
}

.selector-sector .seletor-sku .select label.skuespec_15-amarelocanario{
   
    color: #fff!important;
    background-color: #F0E857;
    border-color:#F0E857 !important;
}

.selector-sector .seletor-sku .select label.skuespec_151-verdemusgo{
   
    color: #fff!important;
    background-color: #A99036;
    border-color:#A99036 !important;
}

.selector-sector .seletor-sku .select label.skuespec_17-amareloouro{
   
    color: #fff!important;
    background-color: #F7B740;
    border-color:#F7B740 !important;
}

.selector-sector .seletor-sku .select label.skuespec_19-verdebandeira{
   
    color: #fff!important;
    background-color: #0A7F20;
    border-color:#0A7F20 !important;
}

.selector-sector .seletor-sku .select label.skuespec_21-lilas{
   
    color: #fff!important;
    background-color: #7F639E;
    border-color:#7F639E !important;
}

.selector-sector .seletor-sku .select label.skuespec_25-laranja{
   
    color: #fff!important;
    background-color: #FF823E;
    border-color:#FF823E !important;
}

.selector-sector .seletor-sku .select label.skuespec_32-cafe{
   
    color: #333!important;
    background-color: #6D463E;
    border-color:#6D463E !important;
}

.selector-sector .seletor-sku .select label.skuespec_34-roxo{
   
    color: #fff!important;
    background-color: #37045F;
    border-color:#37045F !important;
}

.selector-sector .seletor-sku .select label.skuespec_55-verdemilitar{
   
    color: #fff!important;
    background-color: #413C12;
    border-color:#413C12 !important;
}

.selector-sector .seletor-sku .select label.skuespec_60-bege{
   
    color: #fff!important;
    background-color: #BEAB92;
    border-color:#BEAB92 !important;
}

.selector-sector .seletor-sku .select label.skuespec_90-azulbb{
   
    color: #fff!important;
    background-color: #C0D1E9;
    border-color:#C0D1E9 !important;
}

.selector-sector .seletor-sku .select label.skuespec_02-palha{
   
    color: #fff!important;
    background-color: #F0D8B5;
    border-color:#F0D8B5 !important;
}

.selector-sector .seletor-sku .select label.skuespec_04-rosabb{
   
    color: #fff!important;
    background-color: #F8A1A1;
    border-color:#F8A1A1 !important;
}

.selector-sector .seletor-sku .select label.skuespec_113-lavanda{
   
    color: #fff!important;
    background-color: #BA89A2;
    border-color:#BA89A2 !important;
}

.selector-sector .seletor-sku .select label.skuespec_130-pink{
   
    color: #fff!important;
    background-color: #DE2F63;
    border-color:#DE2F63 !important;
}

.selector-sector .seletor-sku .select label.skuespec_140-dourado{
   
    color: #fff!important;
    background-color: #FAC44C;
    border-color:#FAC44C !important;
}

.selector-sector .seletor-sku .select label.skuespec_150-verdepistache{
   
    color: #fff!important;
    background-color: #A3AE37;
    border-color:#A3AE37 !important;
}

.selector-sector .seletor-sku .select label.skuespec_159-marrom{
   
    color: #fff!important;
    background-color: #823D19;
    border-color:#823D19 !important;
}

.selector-sector .seletor-sku .select label.skuespec_18-verderelva{
   
    color: #fff!important;
    background-color: #827430;
    border-color:#827430 !important;
}

.selector-sector .seletor-sku .select label.skuespec_20-azulturquesa{
   
    color: #fff!important;
    background-color: #2AB4DD;
    border-color:#2AB4DD !important;
}

.selector-sector .seletor-sku .select label.skuespec_23-laranjacitrico{
   
    color: #fff!important;
    background-color: #F33B14;
    border-color:#F33B14 !important;
}

.selector-sector .seletor-sku .select label.skuespec_26-vermelho{
   
    color: #fff!important;
    background-color: #B51C1D;
    border-color:#B51C1D !important;
}

.selector-sector .seletor-sku .select label.skuespec_33-vinho{
   
    color: #fff!important;
    background-color: #71100A;
    border-color:#71100A !important;
}
 
.selector-sector .seletor-sku .select label.skuespec_38-azulmarinho{
   
    color: #fff!important;
    background-color: #193964;
    border-color:#193964 !important;
}

.selector-sector .seletor-sku .select label.skuespec_40-azulroyal{
   
    color: #fff!important;
    background-color: #042065;
    border-color:#042065 !important;
}

.selector-sector .seletor-sku .select label.skuespec_57-verdecitrico{
   
    color: #fff!important;
    background-color: #ACF82F;
    border-color:#ACF82F !important;
}

.selector-sector .seletor-sku .select label.skuespec_80-verdeagua{
   
    color: #fff!important;
    background-color: #97D392;
    border-color:#97D392 !important;
}

.selector-sector .seletor-sku .select label.skuespec_06-goiaba{
   
    color: #fff!important;
    background-color: #C27B7C;
    border-color:#C27B7C !important;
}

.selector-sector .seletor-sku .select label.skuespec_09-canario{
   
    color: #fff!important;
    background-color: #D4C736;
    border-color:#D4C736 !important;
}

.selector-sector .seletor-sku .select label.skuespec_15-ouro{
   
    color: #fff!important;
    background-color: #E7C314;
    border-color:#E7C314 !important;
}

.selector-sector .seletor-sku .select label.skuespec_17-jasmin{
   
    color: #fff!important;
    background-color: #E9E580;
    border-color:#E9E580 !important;
}

.selector-sector .seletor-sku .select label.skuespec_31-violeta{
   
    color: #fff!important;
    background-color: #7A306E;
    border-color:#7A306E !important;
}

.selector-sector .seletor-sku .select label.skuespec_34-cafe{
   
    color: #fff!important;
    background-color: #6B503E;
    border-color: #6B503E !important;
}

.selector-sector .seletor-sku .select label.skuespec_39-militar{
   
    color: #fff!important;
    background-color: #B0B47E;
    border-color:#B0B47E !important;
}

.selector-sector .seletor-sku .select label.skuespec_41-petunia{
   
    color: #fff!important;
    background-color: #DF0A3D;
    border-color:#DF0A3D !important;
}

.selector-sector .seletor-sku .select label.skuespec_45-palha{
   
    color: #fff!important;
    background-color: #C2B7A6;
    border-color:#C2B7A6 !important;
}

.selector-sector .seletor-sku .select label.skuespec_33-lavanda{
   
    color: #fff!important;
    background-color: #C09FC1;
    border-color:#C09FC1 !important;
}

.selector-sector .seletor-sku .select label.skuespec_40-laranja{
   
    color: #fff!important;
    background-color: #F87441;
    border-color:#F87441 !important;
}

.selector-sector .seletor-sku .select label.skuespec_46-marrom{
   
    color: #fff!important;
    background-color: #834513;
    border-color:#834513 !important;
}

.selector-sector .seletor-sku .select label.skuespec_57-papaia{
   
    color: #fff!important;
    background-color: #BC6150;
    border-color:#BC6150 !important;
}

.selector-sector .seletor-sku .select label.skuespec_59-pistache{
   
    color: #fff!important;
    background-color: #A7C659;
    border-color:#A7C659 !important;
}

.selector-sector .seletor-sku .select label.skuespec_61-piscina{
   
    color: #fff!important;
    background-color: #227D73;
    border-color:#227D73 !important;
}

.selector-sector .seletor-sku .select label.skuespec_64-chocolate{
   
    color: #fff!important;
    background-color: #AF9A83;
    border-color:#AF9A83 !important;
}

.selector-sector .seletor-sku .select label.skuespec_37-relva{
   
    color: #fff!important;
    background-color: #8F8157;
    border-color:#8F8157 !important;
}

.selector-sector .seletor-sku .select label.skuespec_58-salmaoreal{
   
    color: #fff!important;
    background-color: #F8BAA1;
    border-color:#F8BAA1 !important;
}

.selector-sector .seletor-sku .select label.skuespec_60-antilope{
   
    color: #fff!important;
    background-color: #8D4B2F;
    border-color:#8D4B2F !important;
}

.selector-sector .seletor-sku .select label.skuespec_62-camurca{
   
    color: #fff!important;
    background-color: #AE937A;
    border-color:#AE937A !important;
}

.selector-sector .seletor-sku .select label.skuespec_65-prataclaro{
   
    color: #fff!important;
    background-color: #C6C4C3;
    border-color:#C6C4C3 !important;
}

.selector-sector .seletor-sku .select label.skuespec_26-verdeagua{
   
    color: #fff!important;
    background-color: #96B18A;
    border-color:#96B18A !important;
}

.selector-sector .seletor-sku .select label.skuespec_53-extreme{
   
    color: #fff!important;
    background-color: #71B08F;
    border-color:#71B08F !important;
}

.selector-sector .seletor-sku .select label.skuespec_05-amazonas{
   
    color: #333!important;
    background-color: #222E2C;
    border-color:#222E2C !important;
}

.selector-sector .seletor-sku .select label.skuespec_25-creme{
   
    color: #fff!important;
    background-color: #B38D5A;
    border-color:#B38D5A !important;
}

.selector-sector .seletor-sku .select label.skuespec_27-citrico{
   
    color: #fff!important;
    background-color: #9BDD0C;
    border-color:#9BDD0C !important;
}

.selector-sector .seletor-sku .select label.skuespec_04-rosa{
   
    color: #fff!important;
    background-color: #E1979A;
    border-color:#E1979A !important;
}

.selector-sector .seletor-sku .select label.skuespec_63-areia{
   
    color: #fff!important;
    background-color: #7A755C;
    border-color:#7A755C !important;
}

.selector-sector .seletor-sku .select label.skuespec_70-sistine{
   
    color: #fff!important;
    background-color: #172E18;
    border-color:#172E18 !important;
}

.selector-sector .seletor-sku .select label.skuespec_52-pessego{
   
    color: #fff!important;
    background-color: #C7A086;
    border-color:#C7A086 !important;
}

.selector-sector .seletor-sku .select label.skuespec_32-salmao{
   
    color: #fff!important;
    background-color: #FCCBB7;
    border-color:#FCCBB7 !important;
}

.selector-sector .seletor-sku .select label.skuespec_22-pele{
   
    color: #fff!important;
    background-color: #BA9F85;
    border-color:#BA9F85 !important;
}

.selector-sector .seletor-sku .select label.skuespec_69-nude{
   
    color: #fff!important;
    background-color: #CF9BA1;
    border-color:#CF9BA1 !important;
}

.selector-sector .seletor-sku .select label.skuespec_54-hortencia{
   
    color: #fff!important;
    background-color: #615478;
    border-color:#615478 !important;
}

.selector-sector .seletor-sku .select label.skuespec_11-azulbebe{
   
    color: #fff!important;
    background-color: #7A8E93;
    border-color:#7A8E93 !important;
}

.selector-sector .seletor-sku .select label.skuespec_68-cenoura{
   
    color: #fff!important;
    background-color: #D4512D;
    border-color:#D4512D !important;
}

.selector-sector .seletor-sku .select label.skuespec_67-azulceleste{
   
    color: #fff!important;
    background-color: #84CDE6;
    border-color:#84CDE6 !important;
}

.selector-sector .seletor-sku .select label.skuespec_108-{
   
    color: #fff!important;
    background-color: #E9B3A8;
    border-color:#E9B3A8 !important;
}

.selector-sector .seletor-sku .select label.skuespec_109-{
   
    color: #fff!important;
    background-color: #88D0E6;
    border-color:#88D0E6 !important;
}

.selector-sector .seletor-sku .select label.skuespec_110-{
   
    color: #fff!important;
    background-color: #A9983D;
    border-color:#A9983D !important;
}

.selector-sector .seletor-sku .select label.skuespec_111-{
   
    color: #fff!important;
    background-color: #DDD8D4;
    border-color:#DDD8D4 !important;
}

.selector-sector .seletor-sku .select label.skuespec_112-{
   
    color: #fff!important;
    background-color: #CFCC0E;
    border-color:#CFCC0E !important;
}

.selector-sector .seletor-sku .select label.skuespec_07-vermelho{
   
    color: #fff!important;
    background-color: #D63A44;
    border-color:#D63A44 !important;
}

.selector-sector .seletor-sku .select label.skuespec_12-azul{
   
    color: #fff!important;
    background-color: #2CB8D0;
    border-color:#2CB8D0 !important;
}

.selector-sector .seletor-sku .select label.skuespec_19-preto{
   
    color: #333!important;
    background-color: #212121;
    border-color:#212121 !important;
}

.selector-sector .seletor-sku .select label.skuespec_39-militar{
   
    color: #333!important;
    background-color: #5C684B;
    border-color:#5C684B !important;
}

.selector-sector .seletor-sku .select label.skuespec_42-alfazema{
   
    color: #333!important;
    background-color: #8A7499;
    border-color:#8A7499 !important;
}

.selector-sector .seletor-sku .select label.skuespec_55-azulprofundo{
   
    color: #333!important;
    background-color: #244377;
    border-color:#244377 !important;
}

.selector-sector .seletor-sku .select label.skuespec_06-rosabb{
   
    color: #333!important;
    background-color: #D87F84;
    border-color:#D87F84 !important;
}





 
 

 