.footer {
    margin-top: 0px !important;
    padding-top: 20px;
    background-color: #C6A25E !important;
}

.footer ul li a {
    color:#333 !important;
}

 #newsletter {
    background-color: #390D0C !important;
}

.social-icons li {
    margin-right: 21px
}

.social-icons li a img {
    max-height: 26px;
    margin-top: 4em;
}

.payments li a img {
    max-width: 262px
}

.certificates li a img {
    max-width: 100px
}

#footercbyk {
    max-width: 45px;
}

#footervtex {
    max-width: 74px;
}

#middle-footer {
    padding-top: 38px;
    padding-bottom: 38px;
}

.footer-section ul li a {
    font-size: 15px;
    line-height: 25px;
    color: #565656
}

.footer-title {
    margin-bottom: 22px;
    font-weight: bold;
}

#newsletterwrapper input {
    height: 38px;
    border-color: white;
    font-size: 16px;
    color: #444;
    width: 50%;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 2em;
    text-align: center;
    font-weight: bold;;
}

#newsletterwrapper input::placeholder {
    color: #444;
}

#newsletterwrapper input:focus {
    background: #EAECED;
}

#emailcatcher {
    color: white;
    background-color: #931A29;
    padding: 11px 41px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
    font-size: large;
}


.spacedtitle, .prateleira.vitrine h2 {
    font-size: 15px;
    line-height: 18px;
    color: #390D0C;
    /* letter-spacing: 5px; */
    text-transform: uppercase
}

.spacedtitle::after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    margin: 16px auto 0;
    background: #000;
}

.prateleira.vitrine h2{ 
    text-align: center;
}



#makers {
   text-align: right;
}

@media (min-width: 1200px) {
    .smaller-row {
        margin-left: 135px !important;
        margin-right: 135px !important;
    }
}

@media screen and (max-width: 600px) {

    .footer {
        text-align: center;
    }
    #newsletterwrapper input {
        display: block;
        width: 95%;
        margin-bottom: 20px;
    }
    #emailcatcher {
        margin-left: 0;
    }
    .footer .smaller-row {
        margin-top: 31px;
    }
    .footer-section {
        margin-top: 29px;
    }
    .footer-title {
        margin-bottom: 15px;
    }
    #middle-footer div ul li:first-child {
        
        margin-bottom: 18px;
        margin-top: 28px;
    }

    #makers {
        margin-top: 25px;
    }


    .social-icons li a img {
        margin-top: 0;
    }
}