* {
    font-family: 'Libre Franklin', sans-serif;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none !important;
    background: none !important;
}

.ui-autocomplete {
    z-index: 9999999999 !important;
}

.header-container {
    position: sticky;
    top: 0px;
    z-index: 10000000;
    background-color: white !important;
    padding-top: 8px;
}

#top-menu {
    position: sticky;
    top: 10%;
    z-index: 10000000;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-default {
    background-color: transparent !important;
    border-color: transparent !important;
}



.header .search .busca {
    border: 1px solid #390D0C;
    border-radius: 40px;
}

.fulltext-search-box {
    color: #4F4F4F !important;
    /* border-radius: 20px !important; */
    outline-style: none;
    box-shadow: none;
    border-right: transparent !important;
    border-radius: 40px !important;
    font-size: 1.4em;
    height: 3.5em;
    border: none !important;
}

.btn-buscar {
    background-image: url(/arquivos/lupa.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    background-position: center center;
    color: transparent !important;
    outline-style: none;
    box-shadow: none;
    border: none !important;
    background-color: white !important;
    /* border-radius: 0px 40px 40px 0px !important; */
    
    border-radius: 0 !important;
    background-color: transparent !important;
}

.header .search {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
}

.header .sing-in a {
    padding: 0 12px !important;
}

.dropdown-menu {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.header .sing-in a {
    font-size: 10px;
}

#drop-login {
    margin-left: -42px;
    margin-top: 10px;
}

#mini-cart-admake {
    width: 386px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
}

#drop-login li {
    margin: 6px;
}

#top-menu {
    margin-bottom: 0px !important
}


.header .button-menu-xs .btn {
    outline: none;
}

.header .mini-cart .btn {
    padding: 0 3px !important;
}

#menu-mobile ul li {
    border-top: solid 1px #E4E5E9;
    padding: 10px 8px 10px 16px;
}

#menu-mobile ul li a {
    color: #000;
    font-size: 12px !important;
    line-height: 30px !important;
    font-weight: 400 !important;
}

.depto-nav-area {
    background-color: #390D0C;
    margin-top: 1em;
}

.deptos ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

.deptos ul li a {
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}


.deptonav {
    background-color: #FCFCFC;
    /*opacity: 0.92;*/
    z-index: 9999999999;
    padding-top: 2em;
    padding-left: 2em;
    position: absolute;
    width: 100%;
}

#deptos-list a {
    color: black !important;
    font-size: 10px;
}

#deptos-list ul li {
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidenav {
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.menu-mobile-account hr {
    display: none;
}

/* Style the sidenav links and the dropdown button */

.sidenav a, .dropdown-btn {
    padding: 17px 8px 17px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #8B8B8B;
    display: block;
    text-transform: uppercase;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-top: solid 1px #E4E5E9;
}

/* On mouse-over */

.sidenav a:hover, .dropdown-btn:hover {
    color: #000;
}

/* Add an active class to the active dropdown button */

.active {
    color: #000;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */

.fa-angle-down, .fa-angle-up {
    float: right;
    padding-right: 8px;
    color: black
}

#mini-cart-admake .mini-cart-item .nome-produto a {
    text-align: left;
    font-size: 11px !important;
    line-height: 13px !important;
    color: black !important;
}

#mini-cart-admake .mini-cart-item .qtd-valor {
    margin-top: 2em;
    color: black !important
}

#mini-cart-admake .mini-cart-item .qtd-valor .preco {
    color: black !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 18px !important
}

#mini-cart-admake .mini-cart-item {
    border-bottom: none !important;
}

#mini-cart-admake .mini-cart-footer .mini-cart-totais {
    background-color: #F9F9F9;
    padding: 10px;
}

#mini-cart-admake #mini-cart-admake-total, #mini-cart-admake .mini-cart-totais span {
    color: #000000;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
}

#mini-cart-admake {
    right: -25px !important;
}

#mini-cart-admake .mini-cart-botao .btn-finalizar-compra {
    padding: 10px;
    color: #fff;
    background-color: #000 !important;
    font-weight: 200 !important;
    text-transform: uppercase;
    font-size: 16px !important;
    line-height: 26px !important;
    letter-spacing: 1px;
    height: 35px !important;
    border-radius: 0 !important;
}

@media screen and (min-width: 1200px) {
    #headerrow {
        display: flex;
        align-items: center;
    }
    .header-container {
        padding-top: 16px;
    }
}

@media screen and (max-width: 1200px) {
    #headerrow {
        margin-top: 10px
    }
    .link-logo img {
        max-width: 144px;
    }
    .btn-buscar {
        max-width: 18px;
    }
}

@media screen and (max-width: 600px) {
    .header .search {
        text-align: center;
        margin-bottom: 19px;
    }
    .header .mini-cart, .header .button-menu-xs {
        margin-top: 6%;
    }
    #menu-mobile .header-menu-mobile {
        margin-top: 8%;
    }
    #admake-advanced-filter {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
}