/*.resultado-busca-filtro .compare, fieldset.filterBy {
    display: none;
}
*/


.prateleira .box-item {
    background-color: white !important;
    height: 27em;
    position: relative;
}


.prateleira .btn-add-buy-button-asynchronous {
  
    color: white !important;
    display: block;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 4px 0px;
    background-color: #931A29 !important;
    font-weight: bold !important;
    font-size: 18px !important;
    width: 100% !important;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px !important;
}

.prateleira .price {
    margin-bottom: 4px;
}

.prateleira .price .best-price {
    color: #C6A25E !important;
    font-size: 20px !important;
    font-weight: bold !important;
    margin-top: 10px;
}


.data h3 a {
    font-size: 16px;
}

.gift-list-wished, .is-checklist-item {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}
.prateleira .btn-add-buy-button-asynchronous .fa {
    display: none !important;
}


.prateleira .price .old-price  {
    opacity: 0.62;
    font-size: 18px !important;
    color: #390D0C !important;

}
.prateleira .product-name a {
    color: rgb(57, 13, 12) !important;
    font-size: 15px !important;
    line-height: 17px !important;
    font-weight: 600 !important;
}
select, fieldset {

    outline-style: none;
}


.prateleira .box-item:hover img{
    opacity: 1 !important;
  }



.installment {
    color: #b3bbd1 !important;
    display: block;
    margin-top: 1em;
}

.title-category {
  /*  border-bottom: none;*/
}


.prateleira .product-image::after {
    content: none !important;
    background: none !important;
}

.prateleira .box-item:hover img {
    opacity: 1 !important;
}


@media (max-width: 600px)  {
    
    fieldset {
        
        margin-top: 1em;
    }
    .prateleira .box-item {
        height: 24em;
        padding: 6px !important;
    }
}


@media screen and (min-width: 1051px) {
    .container-fluid {
        padding-left: 8em;
        padding-right: 8em;
    }
    .n4colunas > ul > li {
        width: 24.3333% !important;
    }
}

