.selector-sector {
    display: none;
}

.notifyme.sku-notifyme {
    text-align: center;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999999999999;
    cursor: pointer;
}

.notifymetitle.notifyme-title {
    color: #C52828;
    font-size: 25px;
    line-height: 36px;
}

.sku-notifyme-form.notifyme-form input {
    background-color: white;
    height: 38px;
    border-radius: 0px;
    border-color: white;
    font-size: 12px;
    color: black;
    font-family: "Lato";
    display: block;
    outline: none;
    width: 100%;
    border: solid 2px #931A29 !important;
    border-radius: 15px !important;
    margin-top: 10px;
    font-family: inherit;
    padding-left: 2em;
}

.sku-notifyme-form.notifyme-form input.btn-ok {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #931A29 !important;
    font-weight: bold !important;
    font-size: 18px !important;
    border-radius: 15px;
    font-family: inherit;
}

.codprod span, .codprod .skuReference {
    display: inline-block
}

.codprod {
    color: #8C8C8C;
    font-size: 10px;
}

.product-details .price-box {
    border-bottom: none !important;
}

.product-details .codigo-produto span, .product-details .codigo-produto div {
    color: #333!important;
    font-size: 13px !important;
    font-weight: bold;
}

.product-details .product-name .productName {
    color: #390D0C;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
}

.product-info .discount p {
    font-size: 11px;
    position: absolute;
    background-color: #007DA5;
    /* top: 14px; */
    z-index: 999;
    color: white;
    border-radius: 104px;
    width: 44px;
    padding: 11px;
    padding-top: 9px;
    left: 100%;
}

.product-details .product-name {
    margin-bottom: 0;
}

.dropbuttom .dropdown-btn {
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    color: black;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    outline: none !important;
    background-color: white;
    border-bottom: solid 1px #000;
    border-radius: 0;
}

.dropbuttom button i {
    color: white;
    padding: 9px;
    font-size: 20px;
    font-weight: bold;
    float: right;
    background-color: black;
}

.dropbuttom #suporte i {
    padding-left: 10em;
}

.dropdown-container#institucional, .dropdown-container#suporte {
    background-color: white;
    padding: 8px;
}

.dropdown-container#institucional a, .dropdown-container#suporte a {
    display: block !important;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.user-review h4 {
    color: black;
    font-size: 15px !important;
    line-height: 18px !important;
    font-weight: 400 !important;
    padding-left: 1em !important;
}

#reviews #formUserReview .avaliar a, #reviews #lnkPubliqueResenha {
    background-color: #8D7573!important;
    text-transform: uppercase;
    border-radius: 0px;
}

.showcase-default h2 {
    font-weight: 400 !important;
    text-transform: uppercase;
}

.product-details {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    border: solid 2px #730E0B;
    border-radius: 40px;
    padding: 25px;
}

.giftlist-insertsku-popup {
    position: absolute;
    bottom: 0;
}

.glis-sku-single.glis-sku-default.unavailable, .fa.fa-lock, .glis-sku-single.glis-sku-default {
    display: none !important;
}

#comprar-flutuante .descricao-preco .valor-por, .product-details .price-box .descricao-preco .valor-por {
    color: black !important;
}

.preco-a-vista {
    display: none !important;
}

.valor-dividido {
    font-size: 12px;
    color: #444;
    text-transform: uppercase;
    margin-top: 9px;
}

.product-details .avaliacoes {
    text-align: left !important;
}

#comprar-flutuante .descricao-preco .valor-por strong, .product-details .price-box .descricao-preco .valor-por strong {
    color: #000!important;
    font-size: 24px !important;
    color: #C6A25E !important;
    font-weight: bold !important;
}

#calculoFrete {
    margin-top: -18px;
}

.product-sku-selector-btn {
    color: white !important;
    display: block;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 4px 0px;
    background-color: #931A29 !important;
    font-weight: bold !important;
    font-size: 18px !important;
    width: 64% !important;
    padding: 18px 10px;
    text-decoration: none;
    margin: 3em 0px;
    text-align: center;
    border-radius: 10px !important;
    line-height: 25px;
}

.add-to-cart-button {
    display: inline-block !important;
    width: 100% !important;
}

.product-description .buy-together-content td.buy .comprar-junto a, .buy-button.buy-button-ref {
    color: white !important;
    display: block;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 4px 0px;
    background-color: #931A29 !important;
    font-weight: bold !important;
    font-size: 18px !important;
    width: 56% !important;
    padding: 18px 10px;
    text-decoration: none;
    margin: 3em 0px;
    float: right;
    text-align: center;
    border-radius: 10px !important;
    line-height: 25px;
}
.buy-button.buy-button-ref{
    margin-top: 6%;
}

.product-info .shipping-box .freight-btn {
    margin-top: -4px;
}

.product-info .shipping-box label {
    text-transform: uppercase;
    color: #333!important;
    text-decoration: underline;
}

.selector-sector .shipping-box .cep-busca .bt {
    display: block;
    font-size: 12px;
    color: #9B9B9B;
    line-height: 17px;
    margin-left: 15px;
}

.sku-selector-container {
    margin-top: 20px;
}

.buy-button-box .box-qtd .bts {
    width: 50% !important;
    box-shadow: none !important;
}

.buy-button-box .box-qtd .qtd {
    border-right: 1px solid #EBEBEB !important;
    border-radius: 0;
    font-weight: bold;
    border-right:none !important;
    width: 75px;
    font-size: 24px !important;
    color: #333 !important;
    border: solid 2px #931A29 !important;
    border-radius: 15px !important;
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;
}

.rating-produto:before, .rating-demonstrativo:before, .rating-wrapper .rating:before, .rating-avalie .ratingStar.emptyRatingStar:before, .rating-avalie .ratingStar.filledRatingStar:before {
    color: #886F3E!important
}

span#spnRatingProdutoTop {
    color: black;
    font-weight: 600;
}

.rating-produto:after {
    font-weight: 600;
    text-decoration: underline;
}

.buy-button-box .box-qtd {
    border: none !important;
    border-radius: 0;
    color: white !important;
    display: -webkit-box;
    margin-top: 6%;
}



.buy-button-box .box-qtd .btn {
    outline: none !important;
    box-shadow: none !important;
    display: inline-block !important;
}

input.qtd.pull-left {
    background-color: white !important;
}

.product-details .price-box {
    margin-top: 18px
}

.product-details .seletor-sku .specification {
    font-weight: bold !important;
    color: #390D0C !important;
    line-height: 28px;
    font-size: 28px;
    margin-bottom: 14px;
}

.selector-sector .seletor-sku .select label {
    
    font-size: 14px;
    background-color: gray;
    font-weight: bold;
    opacity: 0.7;
    width: 45%;
    line-height: 16px;
    padding: 14px 14px !important;
    border: 1px solid !important;
    margin: 8px 10px 0 0;
    cursor: pointer;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.selector-sector .seletor-sku .select label:hover, .selector-sector .seletor-sku .select label.checked, .selector-sector .seletor-sku .select label.sku-picked {
 /*   background-color: white;
    color: #8D7573!important;
    border-color: #8D7573!important;*/
    opacity: 1 !important;
}

label.combination_unavaliable:after {
    content: " X";
    color: #F00;
}

.sku-selector-container ul li.select {
    text-align: center;
}

.selector-sector .shipping-box label .fitext {
    color: black !important;
    background: white !important;
    border: 1px solid #931A29 !important;
    border-radius: 0px !important;
    line-height: 20px;
    margin-top: 8px;
    padding: 0 10px;
    width: 100%;
    height: 32px;
    font-size: 14px;
    display: block;
}

#btnFreteSimulacao{
    border: 1px solid #931A29 !important;
    margin-top: -4px;
}

.selector-sector .shipping-box .freight-values {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    position: relative;
}

.selector-sector .shipping-box .shipping-value, .selector-sector .shipping-box .header, .selector-sector .shipping-box .quantity, .selector-sector .shipping-box .footer {
    display: none;
}

.selector-sector .seletor-sku .select .sku-selector {
    display: none;
}

.selector-sector .shipping-box label {
    color: #333;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
}

.product-info .shipping-box .freight-btn {
    color: white !important;
    /* background: #8D7573!important; */
    /* border: 1px solid #8D7573!important; */
    /* border-radius: 0px !important; */
    margin-top: -4px;
    /* color: white !important; */
    /* display: block; */
    text-transform: uppercase;
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 4px 0px;
    background-color: #931A29 !important;
    font-weight: bold !important;
}

.selector-sector .shipping-box {
    color: white !important;
    margin-top: -4px;
    text-transform: uppercase;
    -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold !important;
}

.waterdropTitle .line {
    border-bottom: solid 1px #EBEBEB;
    margin-bottom: -18px;
    margin-top: 29px;
}

.waterdropTitle img {
    max-width: 20px;
    background-color: white;
}

.waterdropTitle h2 {
    color: #007DA5 !important
}

.user-review h4 {
    display: none;
}

.product-description .product-description-box .title {
    border-bottom: none !important;
}

#selector-closer {
    position: absolute;
    right: -25px;
    top: -33px;
    z-index: 999;
}

#only-one-sku-sector {
    display: none;
}



.zoomPad {
    position: relative;
    float: left;
    z-index: 99;
    cursor: crosshair
}

.zoomPreload {
    -moz-opacity: .8;
    opacity: .8;
    filter: alpha(opacity=80);
    color: #333;
    font-size: 12px;
    font-family: Tahoma;
    text-decoration: none;
    border: 1px solid #CCC;
    background-color: #fff;
    padding: 8px;
    text-align: center;
    background-image: url(/arquivos/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 110;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.zoomPup {
    overflow: hidden;
    background-color: #FFF;
    -moz-opacity: .6;
    opacity: .6;
    filter: alpha(opacity=60);
    z-index: 120;
    position: absolute;
    border: 1px solid #CCC;
    z-index: 101;
    cursor: crosshair
}

.zoomOverlay {
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
    z-index: 5000;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 101
}

.zoomWindow {
    position: absolute;
    left: 445px !important;
    top: 40px;
    background: #FFF;
    z-index: 6000;
    height: auto;
    z-index: 10000;
    z-index: 110;
}

.zoomWrapper {
    position: relative;
    border: 1px solid #999;
    z-index: 110;
    width: 531px !important;
    height: 400px !important;
}

.zoomWrapperTitle {
    display: block;
    background: #999;
    color: #FFF;
    height: 18px;
    line-height: 18px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 120;
    -moz-opacity: .6;
    opacity: .6;
    filter: alpha(opacity=60)
}

.zoomWrapperImage {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 110;
    height: 400px !important;
}

.zoomWrapperImage img {
    border: 0;
    display: block;
    position: absolute;
    z-index: 101
}

.zoomIframe {
    z-index: -1;
    filter: alpha(opacity=0);
    -moz-opacity: .8;
    opacity: .8;
    position: absolute;
    display: block
}

.selector-sector .shipping-box {
    border-top: none !important;
    margin-top: 2em;
}

.product-details .seletor-sku .topic {
    overflow-y: auto;
    max-height: 633px;
}

.cart-counter, .buy-button-box, .product-description .product-description-box .title, .product-description .productDescription {
    /*display: inline-block;*/
}


.buy-button-box-cart {
display: inline-block;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 5px
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .5);
}

.glis-popup-link.glis-thickbox.tb-added.qvBinded, .glis-create-form-submit {
    color: #8D7573 !important;
    text-decoration: none !important;
    font-size: 12px;
}

#TB_window {
    background-color: white !important;
    border: solid 1px #EAECED !important;
}

.glis-form-name, .glis-newlisttype {
    background-color: #EAECED;
    /* height: 38px; */
    border-radius: 0px;
    border-color: white;
    /* font-size: 12px; */
    color: black;
    font-family: "Lato";
    /* display: block; */
    outline: none;
    /* width: 100%; */
    /* margin-top: 10px;*/
}

.glis-create {
    margin-top: 2em;
}

.glis-create-form {
    margin-top: 1em;
}

.glis-new-title {
    font-size: 18px;
}

.owl-carousel .owl-item li {
    margin-left: 1em;
    margin-right: 1em;
}

.prateleira.vitrine>ul {
    margin-left: 0px !important;
}

.recomendations h2 {
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Lato';
    text-align: center;
    color: black;
}

.recomendations h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    margin: 16px auto 0;
    background: #000;
}

label.item_unavaliable:after {
    color: #fff;
    background-color: #390D0C;
    padding: 2px 6px;
    content: "X";
    border-radius: 100px;
    position: relative;
    margin-left: 9px;
}

.desk-info-nav a {
    font-size: 21px;
    color: #BEBEBE;
}

.desk-info-nav a:hover {
    color: #000
}

.product-description-box #description, .product-description-box #specification {
    display: none;
}

.modal {
    background-color: transparent !important;
    z-index: 9999 !important;
    top: 32% !important;
    border: none !important;
    box-shadow: none !important;
    width: 53%;
}

.modal-body {
    text-align: center;
}

.modal-body img {
    max-width: 70%;
    max-height: 415px !important;
}

.modal-opener {
    background-color: #000!important;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 1px;
    height: 35px;
    /* margin-top: 35%; */
    color: white;
    border-radius: 0;
    text-align: center;
    /* float: left; */
    padding: 5px 20px;
    text-decoration: none;
}
#box-bread-brumb li a span {
    text-transform: capitalize;
}

#reviews .avalie-produto #opcoes-avalie label {
    display: initial;
}

#reviews .avalie-produto #opcoes-avalie .firadio {
    margin: -6px 0 0 0 !important;
}

.yv-bootstrap .yv-btn-primary {
    color: white !important;
    display: block;
    /* text-transform: uppercase; */
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 4px 0px;
    background: #931A29 !important;
    font-weight: bold !important;
    font-size: 18px !important;
    /* width: 64% !important; */
    padding: 18px 10px;
    text-decoration: none;
    margin: 3em 0px;
    text-align: center;
    border-radius: 10px !important;
    line-height: 25px;
}


.product-description .desk-info-nav {
    border-bottom: solid 2px #808080;
    width: 100%;
}

.product-description .desk-info-nav a:hover, .product-description .desk-info-nav a:active {
color: #390D0C;

}

.product-description .desk-info-nav a:hover::after, .product-description .desk-info-nav a:active::after  {
    content: '';
    display: block;
    height: 4px;
    margin: 10px auto 0px;
    background: #C6A25E;
}

@media screen and (min-width: 1100px) {
    .product-image .apresentacao {
        margin-left: 15%
    }
}

@media screen and (max-width: 800px) {
    .product-details .product-name {
        margin-top: 1%;
    }
    .buy-button-box .box-qtd {
        margin-left: 25%;
    }
    .product-sku-selector-btn {
        width: 100% !important;
        margin: 2em 0px;
    margin-bottom: 0em;
    }

    #selector-closer {
        position: absolute;
    right: -13px;
    top: -107%;
    }

    #product-content {
        padding: 24px;
    }
    .giftlist-insertsku-popup {
        position: initial !important;
    }
    .product-description .buy-together-content td.buy .comprar-junto a, .buy-button.buy-button-ref {
        margin-top: 0px;
        width: 100%;
    }
    .sku-selector-container ul li.select {
        text-align: left;
    }
    .modal {
        width: 100% !important;
        left: 68% !important;
    }

    .product-details .product-name .productName {
        font-size: 18px;
    }
    .modal-body img {
        max-width: 100% !important;
    }
    .product-info .discount p {
        top: 74px;
    }
    .product-info, .product-details .avaliacoes {
        text-align: left !important;
    }
    
    .product-details .codigo-produto span, .product-details .codigo-produto div {
        display: inline;
        font-size: 11px !important;
    }

    #yv-review-quickreview a, #yv-review-quickreview strong {
        font-size: 10px;
    }
    .product-description-box #description, .product-description-box #specification {
        display: block;
    }

    .buy-button.buy-button-ref {
        width: 100% !important;
        margin-top: 12%;
    }
}

@media (min-width: 992px) {
    .product-image .apresentacao .thumbs {
        right: -90%;
    }

    .product-image .zoomPad  {
        left: -70px !important;
    }
    
}

@media (min-width: 1200px) and (max-height: 650px) {
    .product-details .product-image {
        width: 37%;
        margin-left: 7%;
    }
    

    .product-details .seletor-sku .topic {
        max-height: 465px;
    }
    
}


@media (min-width: 1200px) and (max-height: 770px) {
    .product-details .product-image {
        width: 73%;
    margin-left: 18%
    }

    .product-details .seletor-sku .topic {
        max-height: 465px;
    }
    
}


